.collection-item {
  // background-color: blanchedalmond;

  width: 22%;
  height: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-image {
  width: 100%;
  height: 95%;

  background-position: center;
  background-size: cover;
  // margin-bottom: 5px;
}

.item-content {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  .name {
    width: 90%;
    margin-bottom: 15px;
  }

  .price {
    width: 10%;
  }
}
