.sign-in {
  width: 350px;
  display: flex;
  flex-direction: column;
  // text-align: center;

  .title {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
