.cart-icon {
  width: 45px;
  height: 45px;
  right: 20px;
  top: -3px;
  margin-left: 20px;
  //   background-color: red;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.shopping-icon {
}

.item-count {
  width: 20px;
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  bottom: 19px;
  left: 16px;
  text-align: center;
  color: white;
  // background-color: red;
}
