.header {
  //   background: yellow;
  //   position: absolute;

  width: 100%;
  height: 70px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //children將會推開彼此到最大距離

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 20px;
  }

  .options {
    // background-color: red;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    // 置右
  }

  .option {
    // margin-right: 20px;
    padding: 10px 15px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      font-weight: 700;
      transition: all 0.2s ease-out;
    }
  }
}
